.landing {
    text-align: center;
    border-top-width: medium;
    border-bottom: 10%;
    font-family: sans-serif;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .hero-title {
    padding-bottom: 0px;
    font-family: 'Audowide', cursive;
  }

  #myCarousel {
    padding: 0;
  }

  .carousel-inner .carousel-item {
    width: auto;
    height: 525px;
    max-height: 525px;
  }

  .carousel-caption {
    top: 50%;
    transform: translateY(-45%);
  }
  
  .point-one {
    text-align: center;
    width: 45%;
  
  }
  
  .point-three {
    text-align: center;
    width: 45%;
    float: right;
  } 