.App {
  text-align: center;
  width: 100%;
}

.navbar-inverse {
  margin-bottom: 0;
  border-radius: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.main-header {
  font-family: 'Bree Serif', serif;
  font-size: 60px;
}

.App-intro {
  font-size: large;
}

.App-routes {
  margin-top: 10%;
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
